* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playpen Sans", cursive;
    background-color: #f8eefc;
    color: #240F3F;
}

h2 {
    text-align: center;
}

.navbar {
   background-color: #f8eefc;
}

.nav-link {
    color: #240F3F;
}

.navbar-nav a:hover {
    font-weight: 700;
    color: #8f5fff;
    text-decoration: underline;
}

.acerca-de-mi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #f8eefc;

    /*border: 1px solid #240F3F;*/
}

.text-descripcion {
    /*border: 1px solid #240F3F;*/
    width: 60%;
    padding: 0px 20px 0px 20px;
}

.card-dark{
    background-color: transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #240F3F;
    
}
.card-body-dark{
    align-items: center;
    height: auto;
    background-color: #240F3F;
    padding: 16px 16px 0px 16px;
}

/*.card-light{
    background-color: transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #f1eaff;
    
}
.card-body-light{
    align-items: center;
    height: auto;
    background-color: #f1eaff;
    padding: 16px 16px 0px 16px;
}*/



.ver-dark{
    font-size: small;
    text-decoration: none;
    font-weight: 500;
}

.ver-dark a:hover{
    color: #f1eaff;
    text-decoration: none;
    font-weight: 700;
}

.ver-dark a{
    color: #f3d4ff;
    text-decoration: underline;
}

.en-curso{
    font-size: small;
    color: #f3d4ff;
    
}

.ver-light{
    font-size: small;
    text-decoration: none;
    font-weight: 500;
}

.ver-light a:hover{
    color: #8f5fff;
    text-decoration: none;
    font-weight: 700;
}

.ver-light a{
    color: #8f5fff;
    text-decoration: none;
}

.img-descripcion img{
    width: 100%;
    /*border: 1px solid #240F3F;*/
}

.certificados {
    background-image: url(../img/bg_cert.png);
    background-position: center;
    min-height: auto;

    /*border: 1px solid #240F3F;*/
}

.certificados h2{
    color: #240F3F;
}

.certificados h5{
    color: #f9eaff;
}

.certificados-body {
    background-image: url(../img/bg_cert.png);
    background-position: center;
    padding-bottom: 50px;

    /*border: 1px solid #240F3F;*/
}

.certificados-body h5{
    color: #f9eaff;
}

.btn-ver-dark {
    display: block;
    justify-content: end;
    width: 100px;
    font-weight: 500;
    background-color: #240f3f;
    color: #f9eaff;
    border: 1px solid #f9eaff;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

.btn-hover-dark a:hover {
    background-color: #f9eaff;
    font-weight: 700;
    color: #240F3F;
    border: 2px solid #240F3F;
}

.btn-ver-light {
    display: block;
    justify-content: end;
    width: 100px;
    font-weight: 500;
    background-color: #f9eaff;
    color: #240f3f;
    border: 1px solid #240f3f;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

.btn-hover-light a:hover {
    background-color: #240f3f;
    font-weight: 700;
    color: #f9eaff;
    border: 2px solid #f9eaff;
}

.portafolio {
    background-image: url(../img/bg_color.png);
    background-position: center;
}

/*.portafolio {
    background-image: url(../img/bg_cert.png);
    background-position: center;
    min-height: auto;
}

.portafolio h2{
    color: #f9eaff;
}

.portafolio h5{
    color: #240f3f;
}



.portafolio p{
    font-size: smaller;
}

.portafolio-body {
    background-image: url(../img/bg_cert.png);
    background-position: center;
    padding-bottom: 50px;
}

.portafolio-body h5{
    color: #240f3f;
}*/

.card-body-portafolio{
    background-color: #f8f4ff;
    color: #240F3F;
}

.card-footer-portafolio {
    font-size: small;
    background-color: #f1eaff;
    color: #5817a3c2;
}

.card-body-portafolio h5{
    color: #5817a3;
}

.portafolio h2{
    color: #f9eaff;
}



































.video-container {
    min-height: 500px;
    width: 100%;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  color: #f9eaff;
  padding: 10px;
}
