* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playpen Sans", cursive;
    background-color: rgb(249, 246, 253);
}

.nav-link {
    color: #240F3F;
}

a:hover {
    font-weight: 500;
    color: #5F0081;
}

.acerca-de-mi{
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid #240F3F;
}

.info{
    align-items: center;
}

.certificados h2{
    text-align: center;
}