* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Playpen Sans", cursive;
    background-color: #f8eefc;
    color: #240F3F;
}
h2 {
    text-align: center;
}
.navbar {
   background-color: #f8eefc;
}
.nav-link {
    color: #240F3F;
}
.navbar-nav a:hover {
    font-weight: 700;
    color: #5817a3;
    text-decoration: underline;
}
.video-container {
    min-height: 500px;
    width: 100%;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.video-container .caption {
  z-index: 1;
  position: relative;
  color: #f9eaff;
  padding: 10px;
}
.marcaje{
    font-weight: 700;
    color: #5817a3;
    pointer-events: none;
}
.acerca-de-mi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #f8eefc;
}
.text-descripcion {
    width: 60%;
    padding: 0px 20px 0px 20px;
}
.img-descripcion img{
    width: 100%;
}
.img-cert img{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-footer-cert{
    height: 50px;
    background-color: #f1eaff;
}
.card-header-cert{
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: start;
    min-height: 60px;
    align-items: center;
    padding: 4px 16px 4px 16px;
    color: #f1eaff;
}
.card-cert{
    background-color: #240f3f;
}
.en-curso{
    font-size: small;
    color: #5817a3; 
}
.ver-cert{
    font-size: small;
    text-decoration: none;
    font-weight: 500;
}
.ver-cert a:hover{
    color: #5817a3;
    text-decoration: none;
    font-weight: 700;
}
.ver-cert a{
    color: #5817a3;
    text-decoration: underline;
}
.certificados {
    background-image: url(../img/bg_light.png);
    background-position: center;
    min-height: auto;
}
.certificados h2{
    color: #240F3F;
}
.certificados h5{
    color: #f9eaff;
}
.certificados-body {
    background-image: url(../img/bg_light.png);
    background-position: center;
    padding-bottom: 50px;
}
.certificados-body h5{
    color: #f9eaff;
}
.btn-ver-dark {
    display: block;
    justify-content: end;
    width: 100px;
    font-weight: 500;
    background-color: #240f3f;
    color: #f9eaff;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #240F3F;
}
.btn-hover-dark a:hover {
    background-color: #f9eaff;
    font-weight: 700;
    color: #240F3F;
    border: 2px solid #240F3F;
}
.btn-ver-light {
    display: block;
    justify-content: end;
    width: 100px;
    font-weight: 500;
    background-color: #f9eaff;
    color: #240f3f;
    border: 2px solid #240f3f;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}
.btn-hover-light a:hover {
    background-color: #240f3f;
    font-weight: 700;
    color: #f9eaff;
    border: 2px solid #f9eaff;
}
.portafolio {
    background-image: url(../img/bg_color.png);
    background-position: center;
    color: #f1eaff;
}
.card-body-portafolio{
    background-color: #fefdff;
    color: #240F3F;
    min-height: auto;
}
.card-footer-portafolio {
    font-size: small;
    background-color: #f1eaff;
    color: #5817a3c2;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.card-body-portafolio h5, a{
    color: #5817a3;
    text-decoration: none;
}
.card-body-portafolio h5:hover{
    font-weight: 700;
    color: #5817a3;
    text-decoration: none;
}
.portafolio-body {
    background-image: url(../img/bg_light.png);
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 50px;
    color: #240F3F;
}
.experiencia {
    background-image: url(../img/bg_light.png);
    background-position: center;
    min-height: auto;
}
.card-header-exp{
    background-color: #240F3F;
    color: #f1eaff;
}
.card-body-exp{
    background-color: #fefdff;
    color: #240F3F;
}
.experiencia h6, small{
    color: #5817a3;
}
footer{
    background-image: url(../img/bg_color.png);
    color: #f1eaff;
}

footer i{
    color: #f1eaff;
}
footer small{
    color: #f1eaff;
}

